@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/*#boo{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}*/
