@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#artist {
    margin-right: 35px;
}

#musicbody{
	margin-right: 35px;
	margin-left: 35px;
}

/*test1, test2, test3 makes it so title doesn't dynamically resize but has a layout*/
#test1{
	position: absolute;
	margin-left: 460px;
	margin-top: -100px;
	width: 500px;
}

#test2{
	position: absolute;
	margin-left: 540px;
	margin-top: -50px;
	width: 500px;
}
.test3{
	position:relative;
	margin-top:150px;
}