<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <title>Елмаз и стъкло </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <!-- if you want to make title text scale when browser changes size -->
    <!-- <div style="text-align:center">
      <h1> Елмаз и Стъкло </h1> 
    </div>
    <div style="text-align:center">
      <h3> Diamonds and Glass </h3>
    </div>
    <div style="text-align:right" id="artist">
      <h2> Б.Т.Р. </h2>
    <div id="musicbody"></div>
    </div> -->

    <!-- title now doesn't scale when browser changes size -->
    <div id="test1">
      <h1> Б.Т.Р. - Елмаз и Стъкло </h1>
    </div>
    <div id="test2">
      <h3> Diamonds and Glass </h3>
    </div>
    <div id="musicbody" class="test3"></div>
    <!-- end -->
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
  <script src="https://unpkg.com/vexflow/releases/vexflow-min.js"></script>
  <script src="/static/js/landingpage.js"></script>
</html>
